.InsightDescription {
  font-size: 18px;
  color: black;
}

.insightTitle {
  font-size: 35px;
  font-weight: 300;
}
.insightDetails div {
  margin-bottom: 10px;
  text-align: justify;
  color: #323333;
  line-height: 1.5em;
}