.bannerContainer {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bannerTitle {
  font-size: 80px;
  color: white;
}
.banner {
  height: 250px;
  width: 100%;
}
