.customButton {
  min-width: 150px;
  height: 40px;
  text-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
  background-color: black;
  display: inline-block;
}

.customButton a {
  text-decoration: none;
  color: white;
  display: inline-block;
  vertical-align: sub;
  font-weight: 500;
}
