/* .button{
        background-color: black;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
} */

.button1{
    width: 150px;
    height: 40px;
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    padding-top: 5px;
    margin-top: 20px;
    background-color: black;
    display: inline-block;  
    
}

a{
    text-decoration: none;
    color: white;
    display: inline-block
}