.ptag {
  margin: 0px;
}
.InsightsCard {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 0px;
}
.cardImage {
  height: 284px;
  width: 100%;
}
.InsightsCard .ant-card-body {
  height: 130px;
  padding: 10px 15px 35px 15px;
}
.InsightsCard.ant-card-bordered {
  border-width: 0px;
}
