.productCard {
  border-radius: 20%;
  border-color: #d7d8d8;
}

.productCard p {
  margin-bottom: 0;
}

.productCard .ant-card-body {
  height: 130px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
